{{ if eq .chezmoi.os "windows" }}
{
  "custom-layouts": [
    {
      "uuid": "{2902DC06-B4DB-48C6-BAA0-F207A25BA601}",
      "name": "Priority Grid (1)",
      "type": "grid",
      "info": {
        "rows": 2,
        "columns": 3,
        "rows-percentage": [
          5000,
          5000
        ],
        "columns-percentage": [
          2500,
          5000,
          2500
        ],
        "cell-child-map": [
          [
            0,
            2,
            3
          ],
          [
            1,
            2,
            3
          ]
        ],
        "show-spacing": false,
        "spacing": 16,
        "sensitivity-radius": 20
      }
    }
  ]
}
{{ end -}}