{{- if ne .chezmoi.os "windows" -}}
{{ if eq .chezmoi.os "linux" -}}
source /etc/skel/.bashrc
{{ end }}

####
{{ if lookPath "brew" }}
{{ template "brew_env.tmpl" . -}}
{{ end }}

export EDITOR=nano
export PATH="$PATH:$HOME/.local/bin"

{{ template "wsl_env.tmpl" . }}

{{ if eq .chezmoi.os "linux" -}}
{{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
export VAGRANT_WSL_ENABLE_WINDOWS_ACCESS="1"
export PATH="$PATH:/mnt/c/Program Files/Oracle/VirtualBox"
{{ end -}}
{{ end -}}

eval "$(oh-my-posh init bash --config ~/.config/oh-my-posh.yaml)"
{{ end }}