{{- if eq .chezmoi.os "linux" }}
{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
[automount]
enabled = true
root = /mnt/
options = "metadata,uid=1000,gid=1000,umask=022,fmask=11"
mountFsTab = true

[network]
generateHosts = true
generateResolvConf = true

[boot]
systemd=true

[interop]
enabled = true
appendWindowsPath = true
{{- end }}
{{ end }}