{{- if ne .chezmoi.os "windows" -}}
{{ $bogus := (. | setValueAtPath "custom.shell" "bash") -}}
{{ if (and (eq .chezmoi.os "linux") (not .codespaces)) -}}
source /etc/skel/.bashrc
{{ end }}

{{- template "xdg_env.tmpl" . }}
####
{{ if lookPath "brew" }}
{{- template "brew_env.tmpl" . -}}
{{ end }}

export EDITOR=nano
export PATH="$HOME/.local/bin:$HOME/.local/wrapped:$PATH"
export LC_tmux_session=remote

{{ template "wsl_env.tmpl" . }}

{{ if .integration.hishtory.enabled -}}
source ${XDG_CONFIG_HOME}/hishtory/config.sh

{{ end -}}

{{ if .integration.eza.enabled -}}
unalias l
{{ end -}}

eval "$(oh-my-posh init bash --config ~/.config/oh-my-posh.yaml)"
{{ end -}}
