{{- if ne .chezmoi.os "windows" -}}
{{- $bogus := (. | setValueAtPath "custom.shell" "bash") -}}
{{- if (and (eq .chezmoi.os "linux") (not .codespaces)) -}}
source /etc/skel/.bashrc

{{ end -}}

{{ template "xdg_env.tmpl" . }}
{{ template "brew_env.tmpl" . }}
{{ template "wsl_env.tmpl" . }}
command -v vim >/dev/null 2>&1 && export EDITOR=vim || export EDITOR=nano

{{ template "code_env.tmpl" . }}

{{- /* ---- */ -}}
export PATH="$HOME/.local/bin:$HOME/.local/wrapped:$PATH"
export LC_tmux_session=remote

command -v fzf >/dev/null 2>&1 && source <(fzf --bash)

{{ if .integration.eza.enabled -}}
## Eza
unalias l 2>/dev/null
{{- end }}

if [ "$TERM_PROGRAM" != "Apple_Terminal" ]; then
    eval "$(oh-my-posh init bash --config ~/.config/oh-my-posh.yaml)"
fi

{{ if .integration.hishtory.enabled -}}
source ${XDG_CONFIG_HOME}/hishtory/config.sh
{{- end }}

{{- end }}
