{{- if lookPath "brew" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "age"
brew "bat"
brew "gcc"
brew "just"
{{ if and (not .integration.bitwarden.managed) .integration.bitwarden.enabled -}}
brew "bitwarden-cli"
{{ end -}}
brew "bpython"
brew "chroma"
brew "git"
brew "jnv"
brew "jq"
brew "pygments"
brew "syft"
brew "yq"
{{ if and (not .integration.kubernetes.managed) .integration.kubernetes.enabled -}}
brew "helm"
brew "k9s"
brew "krew
brew "kubecolor"
brew "kubernetes-cli@{{ .integration.kubernetes.version }}"
tap "fluxcd/tap/flux"
tap "siderolabs/tap/talosctl"
{{ end -}}
{{ if .machine.iac -}}
brew "azure-cli"
brew "sops"
brew "terraform"
brew "terragrunt"
tap "azure/bicep"
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
brew "fluxcd/tap/flux"
brew "git"
brew "htop"
brew "openssh"
brew "sudo-touchid"
cask "font-fira-code"
cask "git-credential-manager-core"
cask "powershell"
cask "vagrant"
{{ end -}}
EOF
{{ end -}}
