{{- if ne .chezmoi.os "windows" -}}
{{- if .integration.hishtory.enabled -}}
#!/bin/bash

{{ template "hishtory_env.tmpl" . -}}
{{ if .integration.bitwarden.enabled }}
hishtory init {{ (bitwardenFields "item" "dotfiles").hishtory_user_secret.value }}
{{ else }}
hishtory init --offline
{{ end -}}
{{ end -}}
{{ end }}
