{{- if ne .chezmoi.os "windows" -}}
{{- if .integration.hishtory.enabled -}}
{{- if not .machine.ci -}}
{{ $bogus := (. | setValueAtPath "custom.shell" "bash") -}}
#!/bin/bash

set -o pipefail

{{ template "hishtory_env.tmpl" . -}}

{{- $hishSecret := "--offline" -}}
{{- if .integration.bitwarden.enabled -}}
{{- $hishSecret = (bitwardenFields "item" "dotfiles").hishtory_user_secret.value -}}
{{- else if .integration.onepassword.enabled -}}
{{ $hishSecret = onepasswordRead "op://personal/dotfiles/hishtory_user_secret" }}
{{- else if not .integration.hishtory.offline -}}
{{- $hishSecret = joinPath .chezmoi.sourceDir "/.encrypted_vars/hishtory.age" | include | decrypt -}}
{{- end }}
hishtory init {{ $hishSecret | trim }} || true
{{ end -}}
{{ end -}}
{{ end }}
