{{- if ne .chezmoi.os "windows" -}}
{{- if lookPath "oh-my-posh" -}}
{{- if .integration.oh_my_posh.enabled -}}
{{- if ne .chezmoi.os "windows" -}}
#!/bin/bash
{{- end }}

oh-my-posh font install firacode
{{- end }}
{{ end }}
{{ end }}
