{{- if ne .chezmoi.os "windows" -}}
#!/bin/bash

{{ template "xdg_env.tmpl" dict "shell" "bash" "paths" .paths }}

mkdir -p \
    "${XDG_DATA_HOME}" \
    "${XDG_CONFIG_HOME}" \
    "${XDG_STATE_HOME}" \
    "${XDG_CACHE_HOME}"
{{ end }}
