olets/zsh-window-title
olets/zsh-abbr
reegnz/jq-zsh-plugin
zdharma-continuum/fast-syntax-highlighting
zsh-users/zsh-completions path:src kind:fpath
junegunn/fzf path:shell/completion.zsh kind:fpath
{{ if lookPath "terraform" }}
macunha1/zsh-terraform kind:fpath
{{ end }}
$ZDOTDIR/plugins/autovenv

ohmyzsh/ohmyzsh path:plugins/command-not-found
{{ if not .codespaces -}}
ohmyzsh/ohmyzsh path:plugins/ssh-agent
{{ end }}
belak/zsh-utils path:utility
belak/zsh-utils path:history

belak/zsh-utils path:completion
zsh-users/zsh-autosuggestions
