{{- if .integration.zsh.enabled -}}
{{ template "xdg_env.tmpl" dict "shell" "zsh" "paths" .paths }}
{{- if lookPath "brew" }}
{{ template "brew_env.tmpl" dict "shell" "zsh" "os" .chezmoi.os }}
{{- end }}

(( $+commands[vim] )) && export EDITOR=vim || export EDITOR=nano

if [ "$VSCODE_INJECTION" = "1" ]; then
    (( $+commands[code-insiders] )) && export EDITOR=code-insiders || export EDITOR=code
fi

zstyle :omz:plugins:ssh-agent agent-forwarding on
zstyle :omz:plugins:ssh-agent lazy yes
zstyle :omz:update mode disabled

{{ if .integration.zsh.omz -}}
export ZSH=$HOME/.oh-my-zsh

HIST_STAMPS="%d/%m/%y %T"
ZSH_CACHE_DIR="${XDG_CACHE_HOME:-$HOME/.cache}/ohmyzsh"

plugins=(
    ansible
    colored-man-pages
    colorize
    command-not-found
    common-aliases
    docker
    docker-compose
    git
    history
    kubectl
    pip
    ssh-agent
    terraform
    virtualenv
    zsh-autosuggestions
    zsh-syntax-highlighting
    {{ if eq .chezmoi.os "darwin" -}}
    iterm2
    {{ end -}}
    {{ if not ( contains "code-server" .chezmoi.hostname) -}}
    gpg-agent
    vscode
    {{ end -}}
    {{ if eq .chezmoi.os "linux" -}}
    {{ if eq .chezmoi.osRelease.name "Ubuntu" -}}
    {{ end -}}
    {{ end -}}
    )

{{ if eq .chezmoi.os "darwin" -}}
source ~/.config/iterm2.sh

{{ end -}}

alias zshconfig="${EDITOR} $ZDOTDIR/.zshrc"
alias ohmyzsh="${EDITOR} $ZSH"

source $ZSH/oh-my-zsh.sh

{{ else if .integration.zsh.antidote -}}
source ${XDG_DATA_HOME}/antidote/antidote.zsh
autoload -U add-zsh-hook

zstyle :autovenv ignored /home/roxedus/projects/home-infra/ansible/.venv

antidote load

{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
export GPG_TTY=$(tty)
{{ if not ( contains "code-server" .chezmoi.hostname) -}}
VSCODE=code-insiders

{{ end -}}
{{ end -}}

export PATH="$PATH:$HOME/.local/bin"
export LC_tmux_session=remote

{{ if .integration.hishtory.enabled -}}
{{ template "hishtory_env.tmpl" . -}}
source $HOME/$HISHTORY_PATH/config.zsh

{{ end -}}

{{ template "wsl_env.tmpl" . }}

(( $+_comps[hishtory] )) && source <(hishtory completion zsh)
(( $+_comps[oh-my-posh] )) && eval <(oh-my-posh completion zsh)

(( $+commands[bat] )) && \
    export BAT_THEME="DarkNeon" && \
    export MANPAGER="sh -c 'col -bx | bat -l man -p'" && \
    alias -g -- --help='--help 2>&1 | bat --language=help --style=plain' && \
    alias -g -- -h='-h 2>&1 | bat --language=help --style=plain' && \
    alias cat="bat --paging=never" && \
    alias rcat="command cat"

{{ if .integration.bitwarden.enabled -}}
(( $+_comps[bw] )) && eval "$(bw completion --shell zsh); compdef _bw bw;"
alias bwopen='export BW_SESSION=${BW_SESSION:-$(bw unlock --raw)}'

{{ end -}}

if [ -f ~/.bash_aliases ]; then
    . ~/.bash_aliases
fi

if [ "$TERM_PROGRAM" != "Apple_Terminal" ]; then
    eval "$(oh-my-posh init zsh --config ~/.config/oh-my-posh.yaml)"
fi
{{ end -}}
