{{ if eq .chezmoi.os "darwin" }}
{{- keyring "ssh_config" "work_remotes" | replaceAllRegex "\\\\n" "\n" }}
{{ end }}
{{ if ne .chezmoi.hostname "code-server"  -}}

{{ (bitwarden "item" "ssh_config").notes }}

Host *
    User roxedus
    AddKeysToAgent yes

{{ end }}