{{ if eq .chezmoi.os "darwin" }}
{{- keyring "ssh_config" "work_remotes" | replaceAllRegex "\\\\n" "\n" }}
{{ end }}
{{ if ne .chezmoi.hostname "code-server"  -}}
{{- if .integration.bitwarden.enabled -}}
{{ (bitwarden "item" "ssh_config").notes }}
{{- else if .integration.onepassword.enabled -}}
{{ onepasswordRead "op://Personal/ssh_config/ssh_config" }}
{{ end -}}
{{- if not .machine.work -}}
Host *
    User roxedus
    AddKeysToAgent yes
{{ end -}}
{{ end -}}
