{{- if .terminal.alacritty.enabled }}
general.import = [
    "~/.config/alacritty/theme.toml"
]

[keyboard]
bindings = [
   { key = "Return", mods = "Control|Shift", action = "SpawnNewInstance" }
]

[[hints.enabled]]
regex = "[^ ]+\\.rs:\\d+:\\d+"
command = { program = "code", args = [ "--goto" ] }
mouse = { enabled = true }

[font]
size = {{ .terminal.size }}

[font.bold]
family = "{{ .terminal.font }} Nerd Font"
style = "Bold"

[font.bold_italic]
family = "{{ .terminal.font }} Nerd Font"
style = "Bold Italic"

[font.italic]
family = "{{ .terminal.font }} Nerd Font"
style = "Italic"

[font.normal]
family = "{{ .terminal.font }} Nerd Font"
style = "Regular"
{{- end }}
