## Antidote
source ${XDG_DATA_HOME}/antidote/antidote.zsh
autoload -U add-zsh-hook

zstyle :autovenv ignored /home/roxedus/projects/home-infra/ansible/.venv

# Aloxaf/fzf-tab
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"
zstyle ':completion:*' menu no

# Enable groups
zstyle ':completion:*:descriptions' format '[%d]'

# Set defaults
zstyle ':fzf-tab:*' fzf-command ftb-tmux-popup

export LESS='-R'
export LESSOPEN='|lessfilter.sh %s'
