{{- if lookPath "brew" }}
## Homebrew
{{ if eq .chezmoi.os "linux" -}}
HOMEBREW_PREFIX="/home/linuxbrew/.linuxbrew"
{{ else if eq .chezmoi.os "darwin" -}}
HOMEBREW_PREFIX="/opt/homebrew"
{{- end }}
eval "$($HOMEBREW_PREFIX/bin/brew shellenv)"
{{ if eq .custom.shell "bash" }}
if [[ -r "${HOMEBREW_PREFIX}/etc/profile.d/bash_completion.sh" ]]
then
  source "${HOMEBREW_PREFIX}/etc/profile.d/bash_completion.sh"
else
  for COMPLETION in "${HOMEBREW_PREFIX}/etc/bash_completion.d/"*
  do
    [[ -r "${COMPLETION}" ]] && source "${COMPLETION}"
  done
fi
{{ else if eq .custom.shell "zsh" }}
fpath=("$HOMEBREW_PREFIX/share/zsh/site-functions" $fpath)
{{- end -}}
{{- end -}}
