bw_session () {
    if [ -z XDG_RUNTIME_DIR ]; then
        bw unlock --raw
    elif [ -v BW_SESSION ]; then
        bw unlock --check  &> /dev/null
        if [ $? -ne 0 ]; then
            bw unlock --raw
        else
            echo $BW_SESSION
        fi
        echo "aa"
        exit $?
    fi

    tmpfile=${XDG_RUNTIME_DIR}bw_session

    if [ -f "${tmpfile}" ]; then
        cat "${tmpfile}"
    else
        export BW_SESSION=$(bw unlock --raw)
        bw unlock --check &> /dev/null
        if [ $? -eq 0 ]; then
            echo -n "${BW_SESSION}" > "${tmpfile}"
            cat "${tmpfile}"
        fi
    fi
    exit $?
}
