{{- if not .terminal.alacritty.enabled }}
.config/alacritty
{{- end }}
{{- if not (lookPath "direnv") }}
.config/direnv
{{- end }}
{{- if not .integration.kubernetes.enabled }}
.config/k9s
{{- end }}
{{- if not .integration.zsh.antidote }}
.config/zsh/plugins
.config/zsh/dot_zsh_plugins.txt
.config/zsh-abbr
{{- end }}
{{- if ne .chezmoi.os "windows" }}
# Do not template windows on non-windows systems
*.ps1
.config/powershell/Microsoft.PowerShell_profile.ps1
Documents/
AppData/
{{- else if eq .chezmoi.os "windows" }}
# Do not template non-windows on windows systems
.bash_aliases
.bashrc
.config/alacritty
.config/htop
.config/k9s
.config/powershell
.config/tmux
.config/zsh
.config/zsh-abbr
.local/share/zsh
.zshenv
*.sh
{{- end }}
