{{ if .integration.bitwarden.enabled -}}
export HISHTORY_SERVER={{ .integration.hishtory.settings.server }}
{{ end -}}
export HISHTORY_PATH=".config/hishtory"
export PATH="$PATH:$HOME/$HISHTORY_PATH"
