## OMZ
# Disable OMZ updates, managed with Chezmoi
zstyle :omz:update mode disabled
export ZSH=$HOME/.oh-my-zsh

HIST_STAMPS="%d/%m/%y %T"
ZSH_CACHE_DIR="${XDG_CACHE_HOME:-$HOME/.cache}/ohmyzsh"

plugins=(
    ansible
    colored-man-pages
    colorize
    command-not-found
    common-aliases
    docker
    docker-compose
    git
    history
    kubectl
    pip
    ssh-agent
    terraform
    virtualenv
    zsh-autosuggestions
    zsh-syntax-highlighting
    {{ if eq .chezmoi.os "darwin" -}}
    iterm2
    {{ end -}}
    {{ if not ( contains "code-server" .chezmoi.hostname) -}}
    gpg-agent
    vscode
    {{ end -}}
    {{ if eq .chezmoi.os "linux" -}}
    {{ if eq .chezmoi.osRelease.name "Ubuntu" -}}
    {{ end -}}
    {{ end -}}
    )

source $ZSH/oh-my-zsh.sh
