if ([Environment]::GetCommandLineArgs().Contains('-NonInteractive')) {
    $Global:InteractiveMode=$false
} else {
    $Global:InteractiveMode=$true
}
{{ if eq .chezmoi.os "windows" }}
[System.Environment]::SetEnvironmentVariable('Path', $env:Path + ";{{.chezmoi.homeDir}}\.local\bin", [System.EnvironmentVariableTarget]::Process);

Import-Module PSReadLine

{{ end -}}

if ($env:TERM_PROGRAM -eq "vscode") {
  if ($env:TERM_PROGRAM_VERSION -match "-insider") {
    . "$(code-insiders --locate-shell-integration-path pwsh)"
  }
  else {
    . "$(code --locate-shell-integration-path pwsh)"
  }
}

if ($InteractiveMode) {
  oh-my-posh init pwsh --config ~/.config/oh-my-posh.yaml | Invoke-Expression

<# This is done in the IEX above?
  Enable-PoshTransientPrompt
  Enable-PoshLineError
#>

  if ($PSVersionTable.PSVersion.Major -ge 7) {
    Set-PSReadLineOption -PredictionSource History
    $Global:__OriginalPrompt = $function:fancyPrompt
  }
}

{{ if eq .chezmoi.os "darwin" -}}
Add-Content -Path $PROFILE.CurrentUserAllHosts -Value '$(/opt/homebrew/bin/brew shellenv) | Invoke-Expression'
{{ end -}}
{{ if .integration.bitwarden.enabled -}}
function Get-BW-SESSION {
  if (-Not (Test-Path -Path "env:BW_SESSION")) {
    $env:BW_SESSION = (bw unlock --raw)
  }
}

Set-Alias -Name bwopen -Value Get-BW-SESSION
{{ end -}}
{{ if eq .chezmoi.os "windows" }}
function Set-Just {
    [CmdletBinding()]
    param (
        $Param
    )

    just --justfile $HOME/.config/justfile $Param
}

Set-Alias -Name j -Value Set-Just
{{ if lookPath "choco" }}
$ChocolateyProfile = "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
if (Test-Path($ChocolateyProfile)) {
  Import-Module "$ChocolateyProfile"
}
{{ end }}
{{ end -}}

function Global:__Terminal-Get-LastExitCode {
  if ($? -eq $True) { return 0 }
  $LastHistoryEntry = $(Get-History -Count 1)
  $IsPowerShellError = $Error[0].InvocationInfo.HistoryId -eq $LastHistoryEntry.Id
  if ($IsPowerShellError) { return -1 }
  return $LastExitCode
}

function fancyPrompt {
  $gle = $(__Terminal-Get-LastExitCode);
  $LastHistoryEntry = $(Get-History -Count 1)
  if ($Global:__LastHistoryId -ne -1) {
    if ($LastHistoryEntry.Id -eq $Global:__LastHistoryId) {
      $out += "`e]133;D`a"
    } else {
      $out += "`e]133;D;$gle`a"
    }
  }
  $loc = $($executionContext.SessionState.Path.CurrentLocation);
  $out += "`e]133;A$([char]07)";
  $out += "`e]9;9;`"$loc`"$([char]07)";

  $out += $Global:__OriginalPrompt.Invoke(); # <-- This line adds the original prompt back

  $out += "`e]133;B$([char]07)";
  $Global:__LastHistoryId = $LastHistoryEntry.Id
  return $out
}
