{{ if eq .chezmoi.os "windows" }}
Import-Module PSReadLine
{{ end -}}
oh-my-posh init pwsh --config ~/.config/oh-my-posh.yaml | Invoke-Expression
{{ if eq .chezmoi.os "darwin" -}}
Add-Content -Path $PROFILE.CurrentUserAllHosts -Value '$(/opt/homebrew/bin/brew shellenv) | Invoke-Expression'
{{ end -}}
{{ if eq .chezmoi.os "windows" }}
Enable-PoshTransientPrompt
Enable-PoshLineError
$ChocolateyProfile = "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
if (Test-Path($ChocolateyProfile)) {
  Import-Module "$ChocolateyProfile"
}
{{ end -}}