# Set XDG locations
export XDG_DATA_HOME="${HOME}/.local/share"
export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_STATE_HOME="${HOME}/.local/state"
export XDG_CACHE_HOME="${HOME}/.cache"

# Set app variables
export AWS_SHARED_CREDENTIALS_FILE="${XDG_CONFIG_HOME}/aws/credentials"
export AWS_CONFIG_FILE="${XDG_CONFIG_HOME}/aws/config"
export LESSHISTFILE="${XDG_CACHE_HOME}/less/history"

{{- if eq .shell "bash" }}
HISTFILE="${XDG_STATE_HOME}/bash/history"
{{- else if eq .shell "zsh" }}
HISTFILE="$ZDOTDIR/.zhistory"
{{- end }}
