{{- if .terminal.windows.enabled -}}
{{- if ne (len .terminal.windows.profiles) 0 -}}
{{- if eq .chezmoi.os "windows" -}}
{
    "profiles": [{{ range .terminal.windows.profiles }}
        {
            "updates": "{{ list "{" . "}" | join "" }}",
            "opacity": 70,
            "useAcrylic": true,
            "cursorShape": "bar",
            "colorScheme": "Transpy",
            "font": {
                "face": "{{ $.terminal.font }} Nerd Font"
            },
            // Enable Shell integration Features
            "showMarksOnScrollbar": true,
            "autoMarkPrompts": true,
            "experimental.rightClickContextMenu": true,
        },{{ end }}
    ],
    "actions":
    [
        // Scroll between prompts
        { "keys": "ctrl+up",   "command": { "action": "scrollToMark", "direction": "previous" }, },
        { "keys": "ctrl+down", "command": { "action": "scrollToMark", "direction": "next" }, },

        // Add the ability to select a whole command (or its output)
        { "command": { "action": "selectOutput", "direction": "prev" }, },
        { "command": { "action": "selectOutput", "direction": "next" }, },

        { "command": { "action": "selectCommand", "direction": "prev" }, },
        { "command": { "action": "selectCommand", "direction": "next" }, },
    ],
    "schemes": [
        {
            "background": "#0C0C0C",
            "black": "#0C0C0C",
            "blue": "#0037DA",
            "brightBlack": "#767676",
            "brightBlue": "#3B78FF",
            "brightCyan": "#61D6D6",
            "brightGreen": "#16C60C",
            "brightPurple": "#B4009E",
            "brightRed": "#E74856",
            "brightWhite": "#F2F2F2",
            "brightYellow": "#F9F1A5",
            "cursorColor": "#FFFFFF",
            "cyan": "#3A96DD",
            "foreground": "#CCCCCC",
            "green": "#13A10E",
            "name": "Transpy",
            "purple": "#881798",
            "red": "#C50F1F",
            "selectionBackground": "#FFFFFF",
            "white": "#CCCCCC",
            "yellow": "#C19C00"
        }
    ]
}
{{ end -}}
{{ end -}}
{{ end -}}
